<div class="row">
    <div class="col-md-6 offset-md-3 alert alert-danger text-center">
        <h2>You are not allowed to access this page</h2>
        <hr />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Home page</a>
        </p>
    </div>
</div>