@model ApplicationUser

<div style="height:150px;"></div>
<div class="container mt-5">
    <h2>Edit Account Information</h2>

    <form asp-controller="Account" asp-action="Edit" method="post">
		<div class="row">
			<div class="col-md-6">
				<div class="mb-3" hidden>
					<label asp-for="IdentificationNumber" class="form-label"></label>
					<input asp-for="IdentificationNumber" class="form-control" />
					<span asp-validation-for="IdentificationNumber" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="FirstName" class="form-label"></label>
					<input asp-for="FirstName" class="form-control" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>				
				<div class="mb-3">
					<label asp-for="Lastname" class="form-label"></label>
					<input asp-for="Lastname" class="form-control" />
					<span asp-validation-for="Lastname" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Email" class="form-label"></label>
					<input asp-for="Email" class="form-control" id="ImageFile" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>			
		</div>
		<div class="mb-3" style="margin-top:10px;">
			<div class="row">
				<div class="col-md-6">
					<a class="btn btn-outline-secondary" asp-action="Profile">Back to Profile</a>
				</div>
				<div class="col-md-6">
					<input type="submit" value="Update" class="btn btn-outline-success float-end" />
				</div>
			</div>
		</div>
    </form>
</div>
<div style="height:150px;"></div>