@{
    ViewData["Title"] = "Home Page";
    var userName = String.IsNullOrEmpty(User.Identity.Name) ? "guest" : User.Identity.Name;
}

<div class="text-center">
    <h1 class="display-4">Welcome @userName</h1>

    <a class="btn btn-primary" asp-controller="Election">Elections</a>
</div>
