@model Election

@{
    ViewData["Title"] = "Election Details";
    TempData["ElectionId"] = Model.Id;
}

<div class="row">
    <div class="col-md-6">
        <p>
            <h4>Update Election</h4>
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="/@Model.ImagePath" width="75%" id="ImageURLPreview" />
            </div>
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">                    
                    <div class="col-md-6">
                        <div class="mb-3" hidden>
                            <label asp-for="ImagePath" class="form-label"></label>
                            <input asp-for="ImagePath" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Title" class="form-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>                       
                        <div class="mb-3">
                            <label asp-for="ImageFile" class="form-label"></label>
                            <input asp-for="ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                    </div>   
                    <div class="col-md-6">                        
                        <div class="mb-3">
                            <label asp-for="StartDate" class="form-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="EndDate" class="form-label"></label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>                       
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Description" class="form-label"></label>
                            <textarea asp-for="Description" class="form-control" style="resize:none" rows="6"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3" style="margin-top:10px;">
                    <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to list</a>
                </div>
            </form>           
        </div>
        <div class="col-md-6">
            <!-- Display Candidates -->
            @if (Model.Candidates.Any())
            {
                <h3 class="mt-4">Candidates:</h3>
                <div class="row">
                    @foreach (var candidate in Model.Candidates)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="/@candidate.ImagePath" class="card-img-top" height="200" width="50" alt="Candidate Image">
                                <div class="card-body">
                                    <h5 class="card-title">@candidate.Name @candidate.Surname</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No candidates available.</p>
            }
            <a href="@Url.Action("Create", "Candidate")" class="btn btn-success">Add Candidate</a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // Function to preview the selected image
        function previewImage() {
            var input = document.getElementById('ImageFile');
            var preview = document.getElementById('ImageURLPreview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        // Attach the 'change' event listener to the file input
        document.getElementById('ImageFile').addEventListener('change', previewImage);
    </script>
}



