@model Election

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-4">Vote for Your Preferred Candidate</h2>
        </div>
    </div>

    <div class="row">
        @foreach (var candidate in Model.Candidates)
        {
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="@candidate.ImagePath" class="card-img-top rounded" alt="Candidate Image" />
                    <div class="card-body">
                        <h5 class="card-title text-dark opacity-75 text-uppercase text-center mb-2">@candidate.Name @candidate.Surname</h5>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success">Vote for the Candidate</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div style="height: 50px">
</div>