@using System.Security.Claims;
@inject UserManager<ApplicationUser> UserManager;


@if (!User.Identity.IsAuthenticated)
{
    <a class="nav-link js-scroll-trigger" asp-controller="Account" asp-action="Login">Login</a>
    <a class="nav-link js-scroll-trigger" asp-controller="Account" asp-action="Register">Register</a>
}
else
{
    @*User profile section*@
    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-badge"></i> @User.FindFirstValue("FirstName") @User.FindFirstValue("LastName")
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                    <i class="bi bi-person"></i> Profile
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
            }
            <li>
                <form class="dropdown-item" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="btn btn-link">
                        <i class="bi bi-box-arrow-in-right"></i> Log out
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <span style="padding: 5px"></span>
    
}



