@Model NotFoundVM
@{
    ViewData["Title"] = "Not Found";
}
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>404 - Not Found</h1>
        <p>The requested resource could not be found.</p>
    </div>
</body>
</html>
